@font-face {
  font-family: "Linux Libertine";
  src: url(LinLibertine_aBS.ttf);
}

body {
  margin: 0px;
}

.heading {
  font-family: "Linux Libertine";
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
}

.subheading {
  font-family: "Linux Libertine";
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.description {
  font-family: sans-serif;
  padding: 20px;
  font-size: 18px;
  text-align: justify;
}

/*navigator*/
  .navigator {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .button1 {
    font-family: "Linux Libertine";
    font-size: 36px;
  }

  .navigator1 {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }

  .button {
    font-family: "Linux Libertine";
    font-size: 24px;
  }

  a:visited, a:link {
    color: blue;
  }
/*navigators*/

/*history*/
  .disclaimer {
    font-family: sans-serif;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    background: lightskyblue;
  }

  .history {
    font-family: sans-serif;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    width: 50%;
    background: lightskyblue;
    align-content: center;
  }

  .history1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-content: center;
  }

  .historyimg {
    width: 50%;
  }
/*history*/

/*timeline*/
  .timeline {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-content: center;
  }

  .date {
    font-family: "Linux Libertine";
    font-size: 36px;
    text-align: center;
    width: 50%;
    align-content: center;
    background: lightskyblue;
  }

  .event {
    font-family: sans-serif;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    width: 50%;
    align-content: center;
    text-align: center;
  }
/*timeline*/

/*people*/
  .people {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-content: center;
  }

  .name {
    font-family: "Linux Libertine";
    font-size: 36px;
    text-align: center;
    width: 50%;
    align-content: center;
  }

  .who {
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    width: 50%;
    align-content: center;
    text-align: center;
    background: lightskyblue;
  }
/*people*/